{% extends 'layout.html' %} {% block title %}
<title>Hasil Analisis</title>
{% endblock %} {% block content %}
<div class="container mx-auto">
  <div>
    <h1 class="text-[#3B3B3B] font-semibold text-2xl">
      Hasil Analisis Klasifikasi
    </h1>
    <p class="text-[#787F89] text-sm">
      Hasil Analisis Prediksi dari Model Klasifikasi
    </p>
  </div>
  <div class="w-full p-5 mt-3 bg-white rounded-md shadow-md">
    <div class="flex justify-end">
      <div class="relative max-w-xs">
        <label class="sr-only">Search</label>
        <input
          type="text"
          name="hs-table-with-pagination-search"
          id="hs-table-with-pagination-search"
          class="block w-full px-8 py-2 text-sm border border-gray-300 rounded-lg ps-9 focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
          placeholder="Cari komentar"
        />
        <div
          class="absolute inset-y-0 flex items-center pointer-events-none start-0 ps-3"
        >
          <svg
            class="w-4 h-4 text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8" />
            <path d="m21 21-4.3-4.3" />
          </svg>
        </div>
      </div>
    </div>
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full mt-3 align-middle">
        <div class="border divide-y divide-gray-200 rounded-lg">
          <div class="overflow-hidden">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="px-3 py-2 text-base font-semibold text-gray-500 text-start"
                  >
                    No
                  </th>
                  <th
                    scope="col"
                    class="px-4 py-2 text-base font-semibold text-gray-500 text-start"
                  >
                    Komentar
                  </th>
                  <th
                    scope="col"
                    class="px-4 py-2 w-10 text-base font-semibold text-gray-500 text-start"
                  >
                    Klasifikasi Manual
                  </th>
                  <th
                    scope="col"
                    class="px-4 py-2 w-10 text-base font-semibold text-gray-500 text-start"
                  >
                    Klasifikasi Sistem
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
                <tr>
                  <td
                    class="px-4 py-4 text-sm text-center text-gray-500 font-sm whitespace-nowrap"
                  >
                    1
                  </td>
                  <td
                    class="max-w-md px-4 py-4 overflow-hidden text-sm text-gray-500"
                  >
                    <div class="comment-content">
                      Ganjar Pranowo calon Presiden 2024 penerus Presiden Jokowi
                      #GanjarPranowo #GanjarCapres #GanjarPresiden
                      #GanjarMenangTotal #GanjarPilihanRakyat #Presiden2024
                      #GanjarPresiden2024 #Pilpres2024 #Pemilu2024 #LapakGanjar
                      https://t.co/YTAe02BxcS
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Positif
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Positif
                  </td>
                </tr>
                <tr>
                  <td
                    class="px-4 py-4 text-sm text-center text-gray-500 font-sm whitespace-nowrap"
                  >
                    2
                  </td>
                  <td
                    class="max-w-md px-4 py-4 overflow-hidden text-sm text-gray-500"
                  >
                    <div class="comment-content">
                      @Gus_Raharjo Setuju.... Mari kita ciptakan PEMILU 2024
                      damai dan sejuk. Buat apa kita ributÂ² bd pilihan monggo,
                      biar nanti yg menang dan yg klh ttp harmonis dan legowo,
                      hny itu hrpn Sy.
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Positif
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Positif
                  </td>
                </tr>
                <tr>
                  <td
                    class="px-4 py-4 text-sm text-center text-gray-500 font-sm whitespace-nowrap"
                  >
                    3
                  </td>
                  <td
                    class="max-w-md px-4 py-4 overflow-hidden text-sm text-gray-500"
                  >
                    <div class="comment-content">
                      Saya yakin Prabowo akan menjadi lawan yang tangguh dan
                      mampu membawa perubahan positif bagi Indonesia.
                      #pilpres2024 #dekade08 #mendingprabowo
                      #terusmajubersamaprabowo #pemilu2024
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Positif
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Positif
                  </td>
                </tr>
                <tr>
                  <td
                    class="px-4 py-4 text-sm text-center text-gray-500 font-sm whitespace-nowrap"
                  >
                    4
                  </td>
                  <td
                    class="max-w-md px-4 py-4 overflow-hidden text-sm text-gray-500"
                  >
                    <div class="comment-content">
                      Saya harap dalam pertarungan politik ini, semua tokoh dan
                      masayarakat yang terlibat dapat tetap menjaga kesantuna
                      demi suksesnya Pemilu tahun 2024," ucap Jokowi."
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Positif
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Positif
                  </td>
                </tr>
                <tr>
                  <td
                    class="px-4 py-4 text-sm text-center text-gray-500 font-sm whitespace-nowrap"
                  >
                    5
                  </td>
                  <td
                    class="max-w-md px-4 py-4 overflow-hidden text-sm text-gray-500"
                  >
                    <div class="comment-content">
                      Pemilu 2024 tampak sangat berbeda dengan Pemilu 2019.
                      Kalau di Pemilu 2019 pendukung Pak Prabowo menyebarkan
                      hoax, sekarang Pak Prabowo yang diserang hoax pendukung
                      capres lainnya. Kalau saya sih percaya pada penjelasan Pak
                      Jokowi saja. https://t.co/kDmh4nwh7S
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Positif
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Positif
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="p-4">
            <nav class="flex items-center justify-between">
              <p class="text-xs font-medium text-gray-500">
                Menampilkan 1 - 10 dari 500 data
              </p>
              <div class="flex gap-3">
                <button
                  type="button"
                  class="w-9 h-9 p-2.5 flex items-center rounded-full text-gray-500 border border-zinc-300 hover:bg-[#5842BE] hover:text-white"
                >
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g id="chevron-left">
                      <path
                        id="Vector"
                        d="M10 12.6666L5.33334 7.99992L10 3.33325"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                  </svg>
                </button>
                <button
                  type="button"
                  class="flex justify-center items-center text-white bg-[#5842BE] hover:bg-[#4427c5] w-9 h-9 p-2.5 text-sm rounded-full disabled:opacity-50 disabled:pointer-events-none"
                  aria-current="page"
                >
                  1
                </button>
                <button
                  type="button"
                  class="flex justify-center items-center text-gray-800 border border-zinc-300 hover:bg-[#5842BE] hover:text-white w-9 h-9 p-2.5 text-sm rounded-full disabled:opacity-50 disabled:pointer-events-none"
                >
                  2
                </button>
                <div class="inline-block hs-tooltip">
                  <button
                    type="button"
                    class="hs-tooltip-toggle group min-h-[38px] min-w-[38px] flex justify-center items-center text-gray-400 hover:text-blue-600 p-2 text-sm rounded-lg focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-500 dark:hover:text-blue-500 dark:focus:bg-white/10"
                  >
                    <span class="text-xs text-gray-500 group-hover:hidden"
                      >•••</span
                    >
                    <svg
                      class="flex-shrink-0 hidden w-5 h-5 text-gray-500 group-hover:block"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="m6 17 5-5-5-5" stroke="currentColor" />
                      <path d="m13 17 5-5-5-5" stroke="currentColor" />
                    </svg>
                    <span
                      class="absolute z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white transition-opacity bg-[#5842BE] rounded shadow-sm opacity-0 hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible"
                      role="tooltip"
                    >
                      Next 4 pages
                    </span>
                  </button>
                </div>
                <button
                  type="button"
                  class="flex justify-center items-center text-gray-800 border border-zinc-300 hover:bg-[#5842BE] hover:text-white w-9 h-9 p-2.5 text-sm rounded-full disabled:opacity-50 disabled:pointer-events-none"
                >
                  5
                </button>
                <button
                  type="button"
                  class="w-9 h-9 p-2.5 flex items-center rounded-full text-gray-500 border border-zinc-300 hover:bg-[#5842BE] hover:text-white"
                >
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g id="chevron-right">
                      <path
                        id="Vector"
                        d="M6 3.33325L10.6667 7.99992L6 12.6666"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                  </svg>
                </button>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full p-5 mt-5 bg-white rounded-md shadow-md">
    <div
      id="hs-pie-chart-classification"
      class="flex justify-center items-center"
    ></div>
    <div class="flex justify-center items-center gap-x-4 mt-1 sm:mt-6">
      <div class="inline-flex items-center">
        <span class="w-16 h-6 inline-block bg-[#5842BE] rounded-sm me-2"></span>
        <span class="text-[13px] text-[#3B3B3B]"> Positif </span>
      </div>
      <div class="inline-flex items-center">
        <span class="w-16 h-6 inline-block bg-[#8F77FF] rounded-sm me-2"></span>
        <span class="text-[13px] text-[#3B3B3B]"> Negatif </span>
      </div>
    </div>
    <h1 class="text-[#3B3B3B] mt-10 font-semibold text-lg">
      Hasil Total Data Klasifikasi Sentimen
    </h1>
    <div class="mt-5">
      <p class="text-sm font-medium text-[#3B3B3B] mb-2">
        Positif : <span>543</span> Data
      </p>
      <div
        class="flex w-full h-4 bg-gray-300 rounded-full overflow-hidden"
        role="progressbar"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          class="flex flex-col justify-center overflow-hidden bg-[#5842BE] text-xs text-white text-center whitespace-nowrap transition duration-500"
          style="width: 65%"
        ></div>
      </div>
    </div>
    <div class="mt-5">
      <p class="text-sm font-medium text-[#3B3B3B] mb-2">
        Negatif : <span>275</span> Data
      </p>
      <div
        class="flex w-full h-4 bg-gray-300 rounded-full overflow-hidden"
        role="progressbar"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          class="flex flex-col justify-center overflow-hidden bg-[#8F77FF] text-xs text-white text-center whitespace-nowrap transition duration-500"
          style="width: 35%"
        ></div>
      </div>
    </div>
  </div>
  <div class="w-full p-5 mt-5 bg-white rounded-md shadow-md">
    <h1 class="text-[#3B3B3B] font-semibold text-lg mb-3">Akurasi Model SVM</h1>
    <div id="hs-pie-chart-model" class="flex justify-center items-center"></div>
    <div class="flex justify-center items-center gap-x-4 mt-1 sm:mt-6">
      <div class="inline-flex items-center">
        <span class="w-16 h-6 inline-block bg-[#5842BE] rounded-sm me-2"></span>
        <span class="text-[13px] text-[#3B3B3B]"> Sesuai </span>
      </div>
      <div class="inline-flex items-center">
        <span class="w-16 h-6 inline-block bg-[#8F77FF] rounded-sm me-2"></span>
        <span class="text-[13px] text-[#3B3B3B]"> Tidak Sesuai </span>
      </div>
    </div>
    <div class="flex justify-between">
      <h1 class="text-[#3B3B3B] mt-10 font-semibold text-lg">
        Tabel Confusion Matrix
      </h1>
      <h1 class="text-[#5842BE] mt-10 font-semibold text-lg">
        Akurasi Model :
        <span>90</span>
        %
      </h1>
    </div>
    <div class="rounded-lg">
      <table class="w-full mt-2 rounded-full">
        <thead class="bg-[#5842BE]">
          <tr>
            <th
              scope="col"
              class="border px-2 py-2 w-1/4 text-sm font-medium text-white text-start"
            ></th>
            <th
              scope="col"
              class="border px-6 py-2 w-1/4 text-sm font-medium text-white text-start"
            >
              Klasifikasi Positif
            </th>
            <th
              scope="col"
              class="border px-6 py-2 w-1/4 text-sm font-medium text-white text-start"
            >
              Klasifikasi Negatif
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-6 py-2 text-sm font-medium text-[#3B3B3B]">
              Aktual Positif
            </td>
            <td class="border px-6 py-2 text-sm font-medium text-[#3B3B3B]">
              60
            </td>
            <td class="border px-6 py-2 text-sm font-medium text-[#3B3B3B]">
              80
            </td>
          </tr>
          <tr>
            <td
              class="border px-6 py-2 text-sm font-medium text-[#3B3B3B] whitespace-nowrap"
            >
              Aktual Negatif
            </td>
            <td
              class="border px-6 py-2 text-sm font-medium text-[#3B3B3B] whitespace-nowrap"
            >
              20
            </td>
            <td
              class="border px-6 py-2 text-sm font-medium text-[#3B3B3B] whitespace-nowrap"
            >
              32
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  window.addEventListener("load", () => {
    (function () {
      buildChart(
        "#hs-pie-chart-classification",
        () => ({
          chart: {
            width: "50%",
            type: "pie",
            zoom: {
              enabled: false,
            },
          },
          series: [73, 27],
          labels: ["Positif", "Negatif"],
          title: {
            show: false,
          },
          dataLabels: {
            style: {
              fontSize: "14px",
              fontFamily: "Poppins, ui-sans-serif",
              fontWeight: "400",
              colors: ["#fff", "#fff"],
            },
            dropShadow: {
              enabled: false,
            },
            formatter: (value) => `${value.toFixed(0)} %`,
          },
          plotOptions: {
            pie: {
              dataLabels: {
                offset: -40,
              },
            },
          },
          legend: {
            show: false,
          },
          stroke: {
            width: 4,
          },
          tooltip: {
            enabled: true,
          },
          states: {
            hover: {
              filter: {
                type: "none",
              },
            },
          },
        }),
        {
          colors: ["#5842BE", "#8F77FF"],
          stroke: {
            colors: ["rgb(255, 255, 255)"],
          },
        },
        {
          colors: ["#8F77FF", "#5842BE"],
          stroke: {
            colors: ["rgb(38, 38, 38)"],
          },
        }
      );
    })();
  });
  window.addEventListener("load", () => {
    (function () {
      buildChart(
        "#hs-pie-chart-model",
        () => ({
          chart: {
            width: "50%",
            type: "pie",
            zoom: {
              enabled: false,
            },
          },
          series: [90, 10],
          labels: ["Sesuai", "Tidak Sesuai"],
          title: {
            show: false,
          },
          dataLabels: {
            style: {
              fontSize: "14px",
              fontFamily: "Poppins, ui-sans-serif",
              fontWeight: "400",
              colors: ["#fff", "#fff"],
            },
            dropShadow: {
              enabled: false,
            },
            formatter: (value) => `${value.toFixed(0)} %`,
          },
          plotOptions: {
            pie: {
              dataLabels: {
                offset: -40,
              },
            },
          },
          legend: {
            show: false,
          },
          stroke: {
            width: 4,
          },
          tooltip: {
            enabled: true,
          },
          states: {
            hover: {
              filter: {
                type: "none",
              },
            },
          },
        }),
        {
          colors: ["#5842BE", "#8F77FF"],
          stroke: {
            colors: ["rgb(255, 255, 255)"],
          },
        },
        {
          colors: ["#8F77FF", "#5842BE"],
          stroke: {
            colors: ["rgb(38, 38, 38)"],
          },
        }
      );
    })();
  });
</script>
{% endblock %}
