{% extends 'layout.html' %} {% block title %}
<title>Klasifikasi</title>
{% endblock %} {% block content %}
<div class="container mx-auto">
  <div>
    <h1 class="text-[#3B3B3B] font-semibold text-2xl">Klasifikasi Sentimen</h1>
    <p class="text-[#787F89] text-sm">
      Analisis Prediksi dari Model Klasifikasi
    </p>
  </div>
  <div class="w-full p-5 mt-3 bg-white rounded-md shadow-md">
    <div class="flex justify-between">
      <button
        type="button"
        class="text-white text-sm bg-[#5842BE] py-1.5 px-3.5 rounded-full inline-flex items-center gap-x-2 hover:bg-[#4427c5]"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="fire">
            <path
              id="Vector"
              d="M12 21.0002C14.1218 21.0002 16.1567 20.1573 17.657 18.657C18.401 17.9149 18.991 17.0331 19.393 16.0623C19.7951 15.0915 20.0014 14.0508 20 13C20.0013 11.9491 19.7948 10.9084 19.3926 9.93756C18.9903 8.96674 18.4001 8.08499 17.656 7.343C16.09 5.777 14 5 11.986 3C9.5 5 9 8 9 10C7 9 6.343 7.343 6.343 7.343C4.84267 8.84333 3.99979 10.8782 3.99979 13C3.99979 15.1218 4.84267 17.1567 6.343 18.657C7.84333 20.1573 9.87821 21.0002 12 21.0002Z"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              id="Vector_2"
              d="M11.1277 16.8702C10.6563 16.7268 10.2274 16.4695 9.879 16.121C9.293 15.536 9 14.768 9 14H11L12.015 11C12.5078 11.0024 12.9923 11.1261 13.4259 11.3602C13.8595 11.5943 14.2288 11.9316 14.5011 12.3423C14.7733 12.753 14.9402 13.2245 14.987 13.715C15.0338 14.2056 14.9591 14.7001 14.7694 15.1548C14.5797 15.6096 14.2809 16.0107 13.8994 16.3226C13.5179 16.6345 13.0655 16.8476 12.5821 16.9431C12.0986 17.0386 11.5991 17.0135 11.1277 16.8702Z"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
        </svg>

        Klasifikasi
      </button>
      <div class="relative max-w-xs">
        <label class="sr-only">Search</label>
        <input
          type="text"
          name="hs-table-with-pagination-search"
          id="hs-table-with-pagination-search"
          class="block w-full px-8 py-2 text-sm border border-gray-300 rounded-lg ps-9 focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
          placeholder="Cari komentar"
        />
        <div
          class="absolute inset-y-0 flex items-center pointer-events-none start-0 ps-3"
        >
          <svg
            class="w-4 h-4 text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8" />
            <path d="m21 21-4.3-4.3" />
          </svg>
        </div>
      </div>
    </div>
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full mt-3 align-middle">
        <div class="border divide-y divide-gray-200 rounded-lg">
          <div class="overflow-hidden">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="px-3 py-2 text-base font-semibold text-gray-500 text-start"
                  >
                    No
                  </th>
                  <th
                    scope="col"
                    class="px-4 py-2 text-base font-semibold text-gray-500 text-start"
                  >
                    Komentar
                  </th>
                  <th
                    scope="col"
                    class="px-4 py-2 w-10 text-base font-semibold text-gray-500 text-start"
                  >
                    Klasifikasi Manual
                  </th>
                  <th
                    scope="col"
                    class="px-4 py-2 w-10 text-base font-semibold text-gray-500 text-start"
                  >
                    Klasifikasi Sistem
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
                <tr>
                  <td
                    class="px-4 py-4 text-sm text-center text-gray-500 font-sm whitespace-nowrap"
                  >
                    1
                  </td>
                  <td
                    class="max-w-md px-4 py-4 overflow-hidden text-sm text-gray-500"
                  >
                    <div class="comment-content">
                      Ganjar Pranowo calon Presiden 2024 penerus Presiden Jokowi
                      #GanjarPranowo #GanjarCapres #GanjarPresiden
                      #GanjarMenangTotal #GanjarPilihanRakyat #Presiden2024
                      #GanjarPresiden2024 #Pilpres2024 #Pemilu2024 #LapakGanjar
                      https://t.co/YTAe02BxcS
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Positif
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Belum Diketaui
                  </td>
                </tr>
                <tr>
                  <td
                    class="px-4 py-4 text-sm text-center text-gray-500 font-sm whitespace-nowrap"
                  >
                    2
                  </td>
                  <td
                    class="max-w-md px-4 py-4 overflow-hidden text-sm text-gray-500"
                  >
                    <div class="comment-content">
                      @Gus_Raharjo Setuju.... Mari kita ciptakan PEMILU 2024
                      damai dan sejuk. Buat apa kita ributÂ² bd pilihan monggo,
                      biar nanti yg menang dan yg klh ttp harmonis dan legowo,
                      hny itu hrpn Sy.
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Positif
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Belum Diketaui
                  </td>
                </tr>
                <tr>
                  <td
                    class="px-4 py-4 text-sm text-center text-gray-500 font-sm whitespace-nowrap"
                  >
                    3
                  </td>
                  <td
                    class="max-w-md px-4 py-4 overflow-hidden text-sm text-gray-500"
                  >
                    <div class="comment-content">
                      Saya yakin Prabowo akan menjadi lawan yang tangguh dan
                      mampu membawa perubahan positif bagi Indonesia.
                      #pilpres2024 #dekade08 #mendingprabowo
                      #terusmajubersamaprabowo #pemilu2024
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Positif
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Belum Diketaui
                  </td>
                </tr>
                <tr>
                  <td
                    class="px-4 py-4 text-sm text-center text-gray-500 font-sm whitespace-nowrap"
                  >
                    4
                  </td>
                  <td
                    class="max-w-md px-4 py-4 overflow-hidden text-sm text-gray-500"
                  >
                    <div class="comment-content">
                      Saya harap dalam pertarungan politik ini, semua tokoh dan
                      masayarakat yang terlibat dapat tetap menjaga kesantuna
                      demi suksesnya Pemilu tahun 2024," ucap Jokowi."
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Positif
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Belum Diketaui
                  </td>
                </tr>
                <tr>
                  <td
                    class="px-4 py-4 text-sm text-center text-gray-500 font-sm whitespace-nowrap"
                  >
                    5
                  </td>
                  <td
                    class="max-w-md px-4 py-4 overflow-hidden text-sm text-gray-500"
                  >
                    <div class="comment-content">
                      Pemilu 2024 tampak sangat berbeda dengan Pemilu 2019.
                      Kalau di Pemilu 2019 pendukung Pak Prabowo menyebarkan
                      hoax, sekarang Pak Prabowo yang diserang hoax pendukung
                      capres lainnya. Kalau saya sih percaya pada penjelasan Pak
                      Jokowi saja. https://t.co/kDmh4nwh7S
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Positif
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">
                    Belum Diketaui
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="p-4">
            <nav class="flex items-center justify-between">
              <p class="text-xs font-medium text-gray-500">
                Menampilkan 1 - 10 dari 500 data
              </p>
              <div class="flex gap-3">
                <button
                  type="button"
                  class="w-9 h-9 p-2.5 flex items-center rounded-full text-gray-500 border border-zinc-300 hover:bg-[#5842BE] hover:text-white"
                >
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g id="chevron-left">
                      <path
                        id="Vector"
                        d="M10 12.6666L5.33334 7.99992L10 3.33325"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                  </svg>
                </button>
                <button
                  type="button"
                  class="flex justify-center items-center text-white bg-[#5842BE] hover:bg-[#4427c5] w-9 h-9 p-2.5 text-sm rounded-full disabled:opacity-50 disabled:pointer-events-none"
                  aria-current="page"
                >
                  1
                </button>
                <button
                  type="button"
                  class="flex justify-center items-center text-gray-800 border border-zinc-300 hover:bg-[#5842BE] hover:text-white w-9 h-9 p-2.5 text-sm rounded-full disabled:opacity-50 disabled:pointer-events-none"
                >
                  2
                </button>
                <div class="inline-block hs-tooltip">
                  <button
                    type="button"
                    class="hs-tooltip-toggle group min-h-[38px] min-w-[38px] flex justify-center items-center text-gray-400 hover:text-blue-600 p-2 text-sm rounded-lg focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-500 dark:hover:text-blue-500 dark:focus:bg-white/10"
                  >
                    <span class="text-xs text-gray-500 group-hover:hidden"
                      >•••</span
                    >
                    <svg
                      class="flex-shrink-0 hidden w-5 h-5 text-gray-500 group-hover:block"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="m6 17 5-5-5-5" stroke="currentColor" />
                      <path d="m13 17 5-5-5-5" stroke="currentColor" />
                    </svg>
                    <span
                      class="absolute z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white transition-opacity bg-[#5842BE] rounded shadow-sm opacity-0 hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible"
                      role="tooltip"
                    >
                      Next 4 pages
                    </span>
                  </button>
                </div>
                <button
                  type="button"
                  class="flex justify-center items-center text-gray-800 border border-zinc-300 hover:bg-[#5842BE] hover:text-white w-9 h-9 p-2.5 text-sm rounded-full disabled:opacity-50 disabled:pointer-events-none"
                >
                  5
                </button>
                <button
                  type="button"
                  class="w-9 h-9 p-2.5 flex items-center rounded-full text-gray-500 border border-zinc-300 hover:bg-[#5842BE] hover:text-white"
                >
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g id="chevron-right">
                      <path
                        id="Vector"
                        d="M6 3.33325L10.6667 7.99992L6 12.6666"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                  </svg>
                </button>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
