<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='images/icons/logo.svg') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='dist/css/output.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/style.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('serve_apexcharts_css') }}" />
  </head>

  <body>
    <div class="grid items-center justify-center h-screen grid-cols-2">
      <div class="col-span-1 ps-20 pe-40">
        <h1 class="text-[#40444E] text-4xl font-bold">Daftar Sekarang</h1>
        <p class="text-lg font-normal text-zinc-500">
          Sudah punya akun ?
          <a
            class="text-[#5842BE] ms-2 font-medium"
            href="{{ url_for('login') }}"
            >Masuk</a
          >
        </p>
        <form action="#" method="POST">
          <div class="my-4">
            <input
              type="text"
              id="name"
              name="name"
              class="w-full px-3 py-2 border border-gray-300 rounded"
              placeholder="Nama"
              required
              autocomplete="current-username"
            />
          </div>
          <div class="mb-4">
            <input
              type="email"
              id="email"
              name="email"
              class="w-full px-3 py-2 border border-gray-300 rounded"
              placeholder="Email"
              required
              autocomplete="current-email"
            />
          </div>
          <div class="mb-4">
            <input
              type="password"
              id="password"
              name="password"
              class="w-full px-3 py-2 border border-gray-300 rounded"
              placeholder="Password"
              required
              autocomplete="current-password"
            />
          </div>
          <div class="mb-4">
            <input
              type="password"
              id="password_confirm"
              name="password_confirm"
              class="w-full px-3 py-2 border border-gray-300 rounded"
              placeholder="Konfirmasi password"
              required
              autocomplete="current-password"
            />
          </div>
          <button
            type="submit"
            class="px-12 bg-[#5842BE] font-semibold text-white py-2.5 rounded-lg"
          >
            Daftar
          </button>
        </form>
      </div>
      <div class="col-span-1">
        <div>
          <img
            src="{{ url_for('static', filename='images/background.png') }}"
            alt="Login Image"
            class="object-cover w-full h-screen"
          />
        </div>
      </div>
    </div>
  </body>
</html>
